<template>
    <div>
        <h1>{{ name }}</h1>
    </div>
</template>

<script>
    export default {
        name: "ComponestC",
        data() {
            return {
                name: "ComponestC",
            }
        },
    }
</script>