<template>
    <div>
      <img src="./assets/logo.png" ait="Vue logo">
      <!-- static value-->
      <greeting-message first-name="Mark" last-name="Zuckerberg"/>
      <greeting-message first-name="Elon" last-name="Mask"/>
      <greeting-message first-name="Bill" last-name="Gate"/>
      <hr>
      <!-- Dynamic value -->
      <greeting-message :first_name="fname" v-bind:last-name="lname" />
      <greeting-message v-bind:fullName="fullName" />
    </div>
</template>

<script>
import GreetingMessage from './GreetingMessage.vue';
    export default {
    name: 'App',
    data() {
      return {
        fName: 'John',
        lName: 'Doe',
      }
    },
    computed: {
      fullName() {
        return this.fName + this.lName
      }
    },
      components: {
        GreetingMessage,
      },
    }
</script>

<style>
#app{
  text-align: center;
}
</style>