<template>
    <div>
        <!-- <h1>{{ name }}</h1>
        <p>{{ tasks[0] }}</p>
        <p>{{ tasks[1] }}</p>
        <hr>
        <ComponestA />
        <ComponestB />
        <ComponestC /> -->
        <p>{{ firstname }} {{ lastname }}</p>
        <p>{{ fullName }}</p>
    </div>
</template>

<script>
// import ComponestA from './components/ComponestA.vue';
// import ComponestB from './components/ComponestB.vue';
// import ComponestC from './components/ComponestC.vue';
export default {
    name: 'GreetingMessage',
    // props:['first_name','lastname','fullName'],
    props: {
        firstName: String,
           lastName: String,
           fullName: {
               type: String,
               // default:'Unknow'
               required:false,
        }
    },
    components: {
        // ComponestA,
        // ComponestB,
        // ComponestC,
    },

    data: () => {
        return {
            name: "Mark zuckerberg",
            tasks: [
                {id:1,title:'Buy some milk',isFav: false },
                {id:2,title:'Play game',isFav: false },
            ]
        }
    }    
}
</script>